/*----------------------------------------product Form/ Part2-----------------------------------------*/

h1 {
    text-align: center;
    background-color: #000000;
    padding: 30px;
    margin-bottom: -1%;
}


.part2 {
    padding: 10px;
    height: 100%;
    background-image: url("../media/red-room.jpg");

}

.formBlock {
    z-index: 1;
    position: relative;
    border-radius: 2%;
    background-color: #00000093;
    width: 70%;
    height: 600px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 10%;
}

.productImage1 {
    float: left;
    width: 40%;
    height: 100%;
    object-fit: cover;
}

.productDesc1 {
    float: left;
    width: 60%;
    height: 100%;
}

.productDesc1 h2 {
    color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: -50px;
    font-size: xx-large;
}

.productDesc1 p {
    color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: 10px;
    font-size: medium;
}

.financingInfo {
    color: rgb(225, 157, 55);
    font-size: small;
    font-style: italic;
}

.form {
    color: #ffffff;
    text-align: right;
    padding: 30px;
    transform: translateX(-20%);
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -45px;
}

.inputBreaks {
    display: none;
}

.form input,
.form textarea {
    transform: translateX(15%);
    width: 30%;
}

.colorRadio {
    margin-left: 2%;
    margin-right: -9%;
}

.hrSub {
    margin-left: 40%;
}

.submDepo {
    color: #ffffff;
    float: left;
    background-color: #000000;
    border: solid 2px #641313;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 40%;
}

.subm {
    color: #ffffff9f;
    float: left;
    background-color: #000000;
    border: solid 2px #641313;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transform: translateX(25%);
}


.cartBtn {
    margin-left: 50%;
    transform: translateX(-50%);
    color: #cfcfcf;
    background-color: #131313;
    border-radius: 5%;
    border: solid 2px #d89538;
}

.additionalInfo,
.prodCodes {
    float: left;
    width: 40%;
    margin-left: 7%;
}

.productDetails1 h4 {
    color: rgb(130, 124, 115);
    font-size: x-large;
    font-style: bolder;
}

.productDetails1 h5 {
    color: rgb(245, 245, 245);
    font-size: large;
    font-style: bolder;
    margin-top: -30px;
}

.productDetails1 h6 {
    color: rgba(228, 228, 228, 0.558);
    font-size: small;
    font-style: bolder;
    margin-top: -20px;
}

.price {
    color: rgb(225, 157, 55);
    font-size: xx-large;
    font-style: bolder;
}

.creditPrice {
    color: rgb(225, 157, 55);
    font-size: x-large;
    font-style: bolder;
}

.prodLinks {
    margin: 3% 0 0 8%;
    float: left;
    padding: 5px;
}

.additionalProductInfo, .additionalProductVideo, .additionalProductReviews {
    color: #cfcfcf;
    background-color: #0000000f;
    font-size: large;
    margin: 0 0 0 -5px;
    border: 0px solid #000000;
    border-right: 2px solid #c7c7c7;
    border-top: 2px solid #c7c7c7;
    padding: 5px;
    text-decoration: 3px underline #b47b2c;
}


.alternativeProducts {
    width: 90%;
    margin-left: 50%;
    margin-top: 50%;
    transform: translateX(-50%);
    background-color: #000000ad;
    padding: 3% 3% 30% 3%;
}

.alternativeProducts h2 {
    margin-left: 50%;
    transform: translateX(-20%);
}

.moreInfo {
    width: 100%;
    height: 50%;
    background-color: #000000a7;
    border: 2px solid #641313;
    margin-top: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.video {
    width: 100%;
    height: 90%;
    background-color: #000000a7;
    border: 2px solid #641313;
    margin-top: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.ProductVideo {
    width: 70%;
}

.ProductVideo h3 {
    transform: translateX(-10%);
}

.ProductVid {
    width: 100%;
    height: 350px;
    border: 2px solid #641313;
    margin: 0 0 0 50%;
    transform: translateX(-30%);
}


.reviews {
    width: 100%;
    height: 90%;
    background-color: #000000a7;
    border: 2px solid #641313;
    margin-top: 70%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.productReviews {
    width: 70%;
}

.productReviews h3 {
    transform: translateX(-10%);
}

.productReview {
    width: 100%;
    height: 350px;
    border: 2px solid #641313;
    margin: 0 0 0 50%;
    transform: translateX(-30%);
    overflow: scroll;
    overflow-x: hidden;
}

.review1 {
    width: 80%;
    margin: 5% 0 5% 10%;
}
.review1 p {
    margin-left: 50%;
    transform: translateX(-10%);
}
.review1 label span{
    margin-left: 35%;
    color: #b47b2c;
    text-shadow: 2px 2px 15px #b47b2c;
    font-size: xx-large;
}
.review1 label {
    color: #9d9d9d;
    font-size: xx-large;
}

.leaveReview {
    background-color: #eaab2dc9;
    width: 50%;
    height: 50px;
    margin: 5% 0 0 50%;
    box-shadow: 10px 10px 200px #b47b2c;
    border: 1px solid rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: x-large;
}

.leaveReview:hover {
    background-color: #eaab2d2d;
    box-shadow: 0px 0px 150px #eaab2dc9;
    border: 1px solid #eaab2d58;
}

.suplier1,
.suplier2,
.suplier3,
.suplier4 {
    width: 22%;
    height: 250px;
    background-color: #000000b7;
    border-radius: 5%;
    border: 2px solid #d89538;
    float: left;
    margin: 2% 0 0 2%;
}



/*----------------------------------------shopping cart -00-----------------------------------------------------------------------------*/

.shoppingCart {
    float: left;
    margin: 0 0 0 10%;
    width: 70%;
}

.formBlockShoppingCart {
    width: 100%;
    height: 600px;
}

.removeFromCart {
    width: 10%;
    float: left;
    transform: translateY(500%);
}

.removeItem {
    border: 2px solid white;
    border-radius: 50%;
    width: 65%;
    height: 70px;
    transform: translateX(50%);
    font-size: xx-large;
    background-color: #00000095;
}

.cartParagraph {
    margin: 70% 0 0 50%;
    transform: translateX(-35%);
}


/*----------------------------------------paralax divider-----------------------------------------*/
.paralaxDivider {
    margin-top: 5%;
}

/*----------------------------------------deposit section/ Part3-----------------------------------------*/

.depositSection {
    width: 100%;
    height: 180px;
    background-color: #000000a7;
    border: 2px solid #641313;
    margin-top: -10%;
    margin-left: 50%;
    transform: translateX(-50%);
}

@keyframes expandCircle {
    0% {
        transform: height(0px);
    }

    100% {
        transform: height(180px);
    }
}

@keyframes contractCircle {
    0% {
        transform: height(180px);
    }

    100% {
        transform: height(0px);
    }
}

.circle-scale-up {
    animation: expandCircle 20s ease-in;
    animation-timing-function: cubic-bezier(.79, -0.08, .37, 1.47);

}

.circle-scale-down {
    animation: contractCircle 20s ease-in;
    animation-timing-function: cubic-bezier(.79, -0.08, .37, 1.47);

}


.paymentForm h3 {
    width: 60%;
    height: 100%;
    font-style: italic;
    font-size: 1.4em;
    float: left;
    margin-top: 6%;
    color: #ffffff;
    margin-left: 10%;
}

.LoginButtonArea {
    margin-top: -6.5%;
    width: 30%;
    height: 100%;
    float: right;
    margin-left: 10%;
}

.LoginButtonArea button {
    color: #cfcfcf;
    font-weight: bolder;
    padding: 5%;
    font-size: 200%;
    background-color: #131313;
    border-radius: 5%;
    border: solid 5px #d89538;
}


/*----------------------------------------Login & register/ Part4-----------------------------------------*/


.loginSection {
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 10%;
}

.loginSection h3 {
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: -50px;
    font-size: x-large;
    margin-left: 50%;
    transform: translateX(-15%);
}

.loginForm {
    color: #ffffff;
    text-align: right;
    padding: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -45px;
}

.inputBreaks {
    display: none;
}

.loginForm input {
    transform: translateX(15%);
    width: 30%;
}

.submLogin,
.submitRegister {
    color: #ffffff;
    background-color: #000000;
    border: solid 2px #641313;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transform: translateX(-40%);
}

.registerLink {
    color: #ffffff;
    text-decoration: none;
}

.registerLink:hover {
    color: #eaab2d;
    text-decoration: underline;
}

.addVehicle {
    color: #cfcfcf;
    background-color: #131313;
    border-radius: 5%;
    border: solid 2px #d89538;
}

/*----------------------------------------shipping/ Part6-----------------------------------------*/


.shippingSection {
    float: left;
    width: 60%;
    height: 100%;
    margin-left: 10%;
}

.shippingSection h3 {
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: -50px;
    font-size: x-large;
    margin-left: 50%;
    transform: translateX(-15%);
}

.shippingForm {
    color: #ffffff;
    text-align: right;
    padding: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -45px;
}

.inputBreaks {
    display: none;
}

.shippingForm input {
    transform: translateX(15%);
    width: 30%;
}

.submitShipping {
    color: #ffffff;
    background-color: #000000;
    border: solid 2px #641313;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    transform: translateX(-60%);
}


/*----------------------------------------order summary/ Part7-----------------------------------------*/


.OrderFormBlock {
    z-index: 1;
    position: relative;
    border-radius: 2%;
    background-color: #00000093;
    width: 70%;
    height: 1000px;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 50px;
    margin-bottom: 10%;
}

.orderAddress {
    float: left;
    width: 60%;
    height: 100%;
    margin-left: -10%;
    float: left;
}

.orderAddress h3 {
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: -50px;
    font-size: x-large;
    margin-left: 50%;
    transform: translateX(-15%);
}

.orderadd {
    color: #ffffff;
    text-align: right;
    padding: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -45px;
    margin-left: -10%;
}

.inputBreaks {
    display: none;
}

.orderadd span {
    transform: translateX(15%);
    color: #b47b2c;
    width: 30%;
    font-style: italic;
}

.orderadd h4 {
    color: #ffffff;
    margin-left: 50%;
    transform: translateX(-40%);
    text-align: right;
    padding: 30px;
    font-weight: 100;
    font-size: small;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
}




/*----------------------------------------order payment*/


.orderPaymentPlan {
    float: left;
    width: 60%;
    height: 100%;
    margin-left: -10%;
    margin-top: -100%;
    float: left;
}

.orderPaymentPlan h3 {
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: -50px;
    font-size: x-large;
    margin-left: 50%;
    transform: translateX(-15%);
}

.orderPlan {
    color: #ffffff;
    text-align: right;
    padding: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -45px;
    margin-left: -10%;
}

.inputBreaks {
    display: none;
}

.orderPlan span {
    transform: translateX(15%);
    color: #b47b2c;
    width: 30%;
    font-style: italic;
}

.orderPlan h4 {
    color: #ffffff;
    margin-left: 50%;
    transform: translateX(-40%);
    text-align: right;
    padding: 30px;
    font-weight: 100;
    font-size: small;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
}

/*----------------------------------------order items*/

.orderItem-s {
    float: left;
    width: 60%;
    height: 50%;
    margin-left: -10%;
    margin-top: -100%;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
}

.orderItem-s h3 {
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: -50px;
    font-size: x-large;
    margin-left: 50%;
    transform: translateX(-30%);
}

.productImage1Checkout1 {
    width: 50px;
    object-fit: cover;
    border: 3px solid #ffffff;
    border-radius: 5%;
    margin: 1% 30% 0 40%;
    transform: translateX(70%);
}

.orderItem {
    text-align: right;
    padding: 30px;
    margin-top: -45px;
    margin-left: -30%;
}

.orderItem p {
    width: 30%;
    color: #ffffff;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
}

.orderItem span {
    transform: translateX(15%);
    color: #b47b2c;
    width: 30%;
    font-style: italic;
}

.orderItem h4 {
    color: #ffffff;
    margin-left: 50%;
    transform: translateX(-35%);
    text-align: right;
    padding: 30px;
    font-weight: 100;
    font-size: small;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
    margin-bottom: -25px;
}


/*----------------------------------------block for payment placement*/


.paymentDisplay {
    float: right;
    width: 50%;
    height: 35%;
    margin-top: -150%;
    border: 4px solid #ffffff;
    background-color: #212121be;
}

.paymentDisplay h3 {
    color: white;
    padding: 20px;
    text-align: center;
    width: 50%;
    margin-bottom: -50px;
    font-size: x-large;
    margin-left: 50%;
    transform: translateX(-50%);
}

.paymentPlanSummery {
    color: #ffffff;
    text-align: right;
    padding: 30px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -45px;
    margin-left: -45%;
    width: 125%;
}

.paymentPlanSummery span {
    transform: translateX(15%);
    color: #b47b2c;
    width: 30%;
    font-style: italic;
}

.paymentPlanSummery h4 {
    color: #ffffff;
    margin-left: 50%;
    transform: translateX(-40%);
    text-align: right;
    padding: 30px;
    font-weight: 100;
    font-size: small;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -25px;
}

/*----------------------------------------order summary/ Part7-----------------------------------------*/


.process {
    float: right;
    margin: -90% 10% 0 0;
}

.editOrder,
.submitOrder {
    background-color: #eaab2dc9;
    width: 150%;
    height: 50px;
    margin: 50% 0 0 -50%;
    box-shadow: 10px 10px 200px #b47b2c;
    border: 1px solid rgb(255, 255, 255);
    text-transform: capitalize;
    font-size: x-large;
}

.editOrder:hover,
.submitOrder:hover {
    background-color: #eaab2d2d;
    box-shadow: 0px 0px 150px #eaab2dc9;
    border: 1px solid #eaab2d58;
}

.submitOrder:hover {
    text-decoration: underline;
}